::selection {
	background: rgba(0, 0, 0, 0);
}

::-moz-selection {
	background: rgba(0, 0, 0, 0);
}

html {
	overflow: auto;
	margin: 0;
	transform-origin: left top;
}

body {
	margin: 0.25em;
}

.container_border {
	position: absolute;
	top: 1.5em;
	left: 1.5em;
	width: 94em;
	height: 42em;
	border: 2px solid #DEBE5F;
	pointer-events: none;
}

.container_asciiart>pre.asciiart_aperture {
	position: absolute;
	top: 3em;
	left: 56em;
	font-size: 8px;
	line-height: 1.0;
	opacity: 0.7;
	display: block !important;
}

html, body {
	width: fit-content;
	height: fit-content;
	background-color: #1a0f08;
	color: #DEBE5F;
	font-family: "Courier New", "Courier", "CourierPrimeSans", monospace !important;
	font-weight: 600;
}

span {
	display: inline-block;
	line-height: 1.35;
	font-size: 1em;
}

pre {
	font-family: "Courier New", "Courier", "CourierPrimeSans", monospace !important;
	line-height: 1.3;
	margin: 0;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
    text-decoration: underline;
    color: currentColor;
}

.container_lyrics, .container_lyrics_before_loading, .container_lyrics_before_mobile {
	display: none;
	position: absolute;
	width: 35em;
	height: 39em;
	top: 2.5em;
	left: 2.5em;
}

.container_lyrics_before_loading {
	display: block;
}

.container_lyrics.current {
	display: block;
}

.container_lyrics.current>br {
	display: none;
}

.container_credits {
	display: block;
	position: absolute;
	width: 20em;
	height: 32em;
	top: 15em;
	left: 63em;
	color: #000000;
	font-size: 0.85em;
}

.container_credits>span.row:empty:before {
  content: "\200b";
}

.container_asciiart {
	display: block;
	position: absolute;
	left: 72em;
	top: 2.5em;
	font-size: 12px;
}

.container_asciiart>pre {
	display: none;
	line-height: 1.2;
}

.container_asciiart>pre.display {
	display: block !important;
}

br.force-display {
	display: inline !important;
}

.container_sns {
	margin-top: 0.5em;
	margin-left: 0.5em;
}

.container_sns>* {
	display: inline-flex !important;
}

.container_sns img {
	width: 25px;
}

.gettingfaster {
	cursor: progress !important;
}

.gettingfasterandfaster {
	cursor: wait !important;
}
