::selection {
	background: rgba(0, 0, 0, 0);
}

::-moz-selection {
	background: rgba(0, 0, 0, 0);
}

html {
	overflow: auto;
	margin: 0;
	transform-origin: left top;
	background-color: #000000;
}

body {
	margin: 1.5em;
	background-color: #1a0f08;
	width: 94em;
	height: 42em;
	position: relative;
	overflow: hidden;
}

.container_border {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 2px solid #DEBE5F;
	pointer-events: none;
}

.container_asciiart>pre.asciiart_aperture {
	display: none !important;
}

html, body {
	color: #DEBE5F;
	font-family: "Courier New", "Courier", "CourierPrimeSans", monospace !important;
	font-weight: 600;
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 94em;
	height: 3px;
	background: linear-gradient(
		to bottom,
		transparent,
		rgba(222, 190, 95, 0.15) 30%,
		rgba(222, 190, 95, 0.4) 50%,
		rgba(222, 190, 95, 0.15) 70%,
		transparent
	);
	box-shadow: 
		0 0 8px rgba(222, 190, 95, 0.6),
		0 0 15px rgba(222, 190, 95, 0.3);
	filter: blur(1px);
	animation: scanline-travel 4s linear infinite;
	animation-play-state: paused;
	pointer-events: none;
	z-index: 9999;
}

body.playing::before {
	animation-play-state: running;
}

@keyframes scanline-travel {
	0% { 
		transform: translateY(0);
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	45% {
		opacity: 1;
	}
	50% { 
		transform: translateY(42em);
		opacity: 0;
	}
	100% {
		transform: translateY(42em);
		opacity: 0;
	}
}

body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 94em;
	height: 42em;
	background: repeating-linear-gradient(
		to bottom,
		transparent 0px,
		transparent 2px,
		rgba(0, 0, 0, 0.3) 2px,
		rgba(0, 0, 0, 0.3) 4px
	);
	pointer-events: none;
	z-index: 9998;
}

span {
	display: inline-block;
	line-height: 1.35;
	font-size: 1em;
}

pre {
	font-family: "Courier New", "Courier", "CourierPrimeSans", monospace !important;
	line-height: 1.3;
	margin: 0;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
    text-decoration: underline;
    color: currentColor;
}

.container_lyrics, .container_lyrics_before_loading, .container_lyrics_before_mobile {
	display: none;
	position: absolute;
	width: 35em;
	height: 39em;
	top: 2.5em;
	left: 2.5em;
}

.container_lyrics_before_loading {
	display: block;
}

.container_lyrics.current {
	display: block;
}

.container_lyrics.current>br {
	display: none;
}

.credits_cake {
	display: none;
	font-size: 0.85em;
	line-height: 1.1;
	margin: 0;
	padding: 0;
}

.credits_cake.typed {
	display: block;
}

.container_credits {
	display: block;
	position: absolute;
	width: 22em;
	height: 30em;
	top: 12em;
	left: 54em;
	color: #4a3520;
	font-size: 1.2em;
	text-align: right;
}

.container_credits>span.row:empty:before {
  content: "\200b";
}

.container_asciiart {
	display: none !important;
}

.container_asciiart>pre {
	display: none;
	line-height: 1.2;
}

.container_asciiart>pre.display {
	display: none !important;
}

br.force-display {
	display: inline !important;
}

.container_sns {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	top: auto;
	left: auto;
}

.container_sns>* {
	display: inline-flex !important;
}

.container_sns img {
	width: 25px;
}

.gettingfaster {
	cursor: progress !important;
}

.gettingfasterandfaster {
	cursor: wait !important;
}

.container_ascii_animation {
	position: absolute;
	top: 1.8em;
	left: 52em;
	width: 15em;
	height: 8em;
	overflow: hidden;
	border: 2px solid #DEBE5F;
	padding: 0.3em;
	display: flex;
	flex-direction: row;
}

.ascii_column_down, .ascii_column_up {
	font-size: 0.6em;
	line-height: 1.1;
	white-space: pre;
	opacity: 0.35;
	width: 50%;
	overflow: hidden;
	height: 200%;
	will-change: transform;
}

.ascii_column_down {
	animation: scroll-down 4s linear infinite;
	transform: translateZ(0);
}

.ascii_column_up {
	animation: scroll-up 4s linear infinite;
	transform: translateZ(0);
}

@keyframes scroll-down {
	0% { transform: translateY(-50%); }
	100% { transform: translateY(0%); }
}

@keyframes scroll-up {
	0% { transform: translateY(0%); }
	100% { transform: translateY(-50%); }
}

.container_numbers {
	position: absolute;
	top: 1.8em;
	left: 69em;
	width: 6em;
	height: 8em;
	border: 2px solid #DEBE5F;
	padding: 0.3em;
	overflow: hidden;
}

.numbers_display {
	font-size: 1.2em;
	line-height: 2;
	opacity: 1;
	text-align: right;
	padding-top: 0.5em;
}

.container_logo_section {
	position: absolute;
	top: 1.8em;
	left: 77em;
	width: 10em;
	height: 8em;
	border: 2px solid #DEBE5F;
	padding: 0.3em;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container_logo_box {
	position: absolute;
	top: 1.8em;
	left: 77em;
	width: 10em;
	height: 8em;
	border: 2px solid #DEBE5F;
	padding: 0.3em;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container_logo_box .logo_aperture {
	font-size: 4px;
	line-height: 0.9;
	margin: 0;
	padding: 0;
}
